.makerportal-container{
    border: 1px solid #eee ;
    background-color: white;
}
.accordion >.card .card-header {
    background-color: rgb(67, 12, 170);
    color: black;
    cursor: pointer;
}
.pac-container {
    z-index: 1050 !important;
}
.pac-item {
    line-height: 50px !important;
    cursor: pointer;
    height: 100%;
    width: 100% !important;
}
.pac-item :hover {
    color: #999 !important;
}
.map-picker-input {
    width: 80%;
    margin-top: 10px;
}
.map-picker-info-window-icon {
    width: 2.7em;
    height:2.2em;
    padding-right: 5px;
    float:left;
    position:absolute;
}
.map-picker-info-window-name{
    padding-bottom: 2px;
    text-align:center;
}
.map-picker-info-window-address{
    padding-top: 0px;
    text-align:center;
}
.map-picker-info-window-button{
    display:block;
    margin: auto;
    background-color: indigo;
}
.my-events-data {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.my-events-title, .my-events-container {
    background-color: #183442;
}
.my-events-title {
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 0;
    font-family: Fjalla One;
    line-height: 120%;
    color: white;
    font-size: 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    border-radius:10px 10px 0px 0px;

}
.btn-my-events-data-card{
    background-color:gold;
    border: 0;
}
.btn-my-events-data-card{
    background-color:rgb(194, 172, 47);
    border: 0;
    box-shadow: 2px 2px 0px 0px #eee;
}
.my-events-container {
    padding-bottom: 50px;
    display: flex;
    flex-direction: row;
    border-radius:0px 0px 10px 10px;
}
.my-events-container > .pagination-left, .my-events-container > .pagination-right {
    justify-content: center;
}
.my-events-container > .pagination-left > a, .my-events-container, .pagination-right > a {
    color: white;
}
.my-events-container > .pagination-left > a:hover, .my-events-container, .pagination-right > a:hover {
    color: whitesmoke;
}
.my-events-container > .pagination-left {
    margin:auto;
    padding-right: 10px;
}
.pagination-left > .pagination-disabled, 
.pagination-right > .pagination-disabled {
    color: gray !important;
    cursor: default;
}
.my-events-container > .pagination-left > .pagination-disabled:hover,
.my-events-container, .pagination-right > .pagination-disabled:hover {
    color: gray !important;
}
.my-events-container > .pagination-right {
    margin:auto;
    padding-left: 10px;
}
.my-events-data-card{
    flex-grow:1;
    max-width: 20%;
    color: black;
    background-color: white;
}
.my-events-pagination-bottom {
    margin: auto;
    text-align:center;
}
@media only screen and (max-width: 500px) {
    .my-events-data {
        flex-direction: column;
        width: 100%;
    }
    .my-events-data-card {
        max-width:100%;
    }
    .my-events-pagination {
        display: flex;
        flex-direction: row;
    }
    .my-events-container {
        background-color: black;
    }
    .my-events-container > .pagination-left {
        padding-right: 0;
    }
    .my-events-container > .pagination-right {
        padding-left: 0;
    }
    .my-events-container > .my-events-data {
    }
    .my-events-pagination-bottom {
        display: none;
    }

}