.userportal-container{
    border: 1px solid #eee;
    background-color: whitesmoke;

}

.searchCatLabel{
    background-color: aliceblue;
    width: 100px;
}

.searchCatControl{
    width: 200px;
}

.card{
    text-align: center;
    padding: -4px;
    margin: 2px;
}

.cardbody{
    font-size: 12px;
}

.datetime{
    font-size: 12px;
}


.myJobViewButtonGroup{
    margin: 0 auto;
    
}

.searchCategoryForm{
    width: 300px;
    margin: 0 auto;
}

.userCardText{
    font-size: 12px;
}

.jobViewCard{
    margin: 0 auto;
}