.sissorImage{
    width: 3rem;
    height: 3rem;
}
.dropDownMenu{
    color: #9b9b9b;
}
.main-header {
    padding-top: 1.2em;
    z-index:1000;
    background-color: #000;
    color: #9b9b9b;
  }
  .main-header > .header-nav-row > .col-sm-12 > a {
    color: #9b9b9b;
    z-index: 1000;
    margin-left: 1em;
    font-family: 'Kalam', cursive;
    font-weight: 400;
    font-size: 2.2rem;
    transition: color .75s ease;
  }
  .header-nav>.col-xl-3>a {
    margin-top: -.5em;
    margin-bottom: 1em;
    margin-left: 1em;
}
  .main-header > .row > .col-sm-12 > .phone-number > a {
    color: #9b9b9b;
    transition: color .75s ease;
  }
  
  .main-header > .row > .col-sm-12 > .nav-black > .navbar-nav > a {
    color: #9b9b9b;
    display: block;
    font-size: 1.0rem;
    transition: color .75s ease;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
  }
  .main-header > .row > .col-sm-12 > .nav-black{
    justify-content: center !important;
  }
  .dropdown {
    display:flex;
    justify-content: flex-end;
    margin-right: 2em;
}
.dropdown-menu {
    background-color: #333;
    color: white;
    border: 2px solid #555;
}
.dropdown-menu > a {
    color:white;
    border-bottom: 1px solid #ccc;
    padding-bottom:0.5em;
    padding-top: 0.5em;
    display:block;
    width:100%;
    text-align:center;
}
  @media only screen and (max-width: 500px) {
    .dropdown {
        display:flex;
        justify-content: center;
    }
    .header-nav > .col-xl-3 > a {
        display:flex;
        justify-content: center;
    }
}