.product-picker-modal > .modal-dialog > .modal-content {
    background-color: #333;
    color: white;
}

.product-picker-modal > .modal-dialog > .modal-content {
    border: 0;
    border-radius: 0;
    height: 100%;
}
.product-picker-modal > .modal-dialog > .modal-content > .modal-header > h2{
    display: inline;
    color: white;
    text-align: center;
    justify-content: center;
}
.product-picker-modal >.modal-dialog > .modal-content > .modal-header > .material-icons {
    font-size: 42px !important;
    cursor: pointer;
    color: white;
}
.product-picker-modal > .modal-dialog > .modal-content > .modal-header > .material-icons:hover {
    color: #888;
}
.product-list-container > .my-events-pagination-bottom {
    display:flex;
    justify-content: space-around;
    background-color:#333;
    margin-top:1em;
}

.product-list-container > .my-events-pagination-bottom > ul {
    margin-top:0.5em;
}
.product-list-container > input {
    margin-top:1em;
    margin-bottom: 1em;
    width: 97%;
}
.product-list-container > input:focus {
    box-shadow: 0 0 0 0.2rem rgba(227, 239, 252, 0.25);
    border-color: #ccc;
}
.product-list-container > .my-events-pagination-bottom > .pagination-left > a,
.product-list-container> .my-events-pagination-bottom > .pagination-right > a {
    color: white;
}
.product-list-container > .my-events-pagination-bottom > .pagination-left > a:hover,
.product-list-container> .my-events-pagination-bottom > .pagination-right > a:hover {
    color: darkgray;
}

.product-selection-tab a {
    cursor: pointer;
    border-radius:50%;
    color: white !important;
    transition-duration: .25s;
    list-style: none;
    text-align: center;
    padding: 20px 20px 25px 20px;
    overflow: hidden;
    cursor: pointer;
    border-bottom:5px solid rgb(59,19,97);
    
}
.nav-pills .nav-link.active {
background-color: rgb(84, 33, 160) !important;
}
.product-selection-tab .active, .product-selection-tabs .active {
    color: white !important;
    box-shadow: 0 0 0 .1rem rgb(70, 12, 156) !important;
}
.product-selection-tab .active {
    border-bottom: 5px solid rgb(79, 11, 182);

}
.product-selection-tab:hover:before{
    -webkit-transform: translateY(70%);
    transform: translateY(70%);
}
.product-selection-tab a:hover, .product-selection-tab .active:hover{
    border-bottom: 5px solid rgb(84, 33, 160);
}
.nav-pills[role='tablist'] {
    background-color: rgb(59,19,97);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);

}
.product-selection-tab .active:before{
    transition-duration: .5s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    z-index: -1;
    content: "";
    width: 100%;
    height: 120%;
    top: 0;
    left: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    transition-duration: .25s;
    border-radius: 5px 5px 0 0;
}
.product-selection-tabs{
    max-height: 500px;
    display:block;
    direction: rtl;
    overflow-y:auto;
    overflow-x:hidden;
}
.product-list-data {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}
.product-list-data > .product-card {
    max-width: 33.33%;
    width: 32%;
    border: 2px solid #111;
    min-width: 32%;
    height: 20em;
}
.product-list-data > .product-card > .card-body {
    padding: .5em;
    z-index: 2;
    position: absolute;
    margin:auto;
    width: 100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.466);
}
.product-list-data > .product-card > img {
    z-index: 1;
    width: 100%;
    height:100%;
}
.product-list-data > .product-card > .card-body > .card-title {
    text-align:center;
}
.product-list-data > .product-card > .card-body > .attribute {
    display:flex;
    flex-direction: row;
}
.product-list-data > .product-card > .card-body > .attribute > p {
    margin:0;
    padding:0;
    margin-left: 1em;
}
.product-list-data > .product-card > .card-body > .attribute > i {
    margin-left: 2em;
}
.product-list-data > .product-card > .card-body > .attrbute-description {
    text-align: center;   
    display:flex;
    justify-content: center;
    font-style: italic;
}
.product-list-data > .product-card > .card-body > .btn-product-card {
    position: absolute;
    bottom: 2em;
    margin-left: -3.6em;
    left: 50%;
}
.btn-product-card {
    display: inline-block;
    background-color: rgb(84, 33, 160) !important;
    border:1px solid rgb(59,19,97);
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
  }
  .btn-product-card:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: rgb(59,19,97);
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .btn-product-card:hover:before, .btn-product-card:focus:before, .btn-product-card:active:before {
    left: 0;
    right: 0;
    border:0 !important;
  }
  .btn-product-card:hover {
      border:1px solid rgb(59,19,97) !important;
  }
  .my-events-data-card > .card-body {
    padding: 1.0rem;
}
.job-details-modal-body > .row > .col-lg-6 > .form-label {
    width: 80%;
    margin-left: 10%;
    margin-right:10%;
    border-bottom: 1px dashed #bbb;
    margin-bottom: 0.2em;
    font-weight:400;
    font-size: 0.75em;
    margin-top: 0.5em;
    font-family: 'Roboto', sans-serif;

}
.job-details-modal-body > .row > .col-lg-6 > p {
    font-size: 0.85em;
    margin-bottom: 0.8em;
    display: flex;
    justify-content: center;
    text-align:left;
    font-weight:300;
    font-family: 'Roboto', sans-serif;

}
.job-details-modal-body > .row > .col-lg-6 >p> a > .material-icons {
    margin-left:0.5em;
    font-size: 1.5em;

}
.product-side {
    background-color: #555;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
    color: white;
}
.job-details-modal-body > .row > .col-lg-6 > p > a {
    color: black !important;
}
.job-details-modal-body > .row > .col-lg-6 >p> a > .small-icons {
    font-size: 1.5em;
}
.job-details-modal-body > .row > .col-lg-6 >p> a > .small-icons:hover {
    color: rgb(255, 107, 99);
}
@media only screen and (max-width: 1000px) {
    .product-list-data > .product-card {
        width: 48%;
        max-width:48%;
    }
}
@media only screen and (max-width: 500px) {
    .product-list-data > .product-card {
        width: 100%;
        max-width:100%;
    }
    .product-picker-modal{
        width: 100%;
        height: 100%;
        margin: 0 !important;
        position: fixed;
        top: 0;
        bottom: 0;
        transform: none !important;
        overflow: hidden;
    }
    .product-picker-modal > .modal-dialog > .modal-content {
        border: 0;
        border-radius: 0;
        height: 100%;
    }
    .product-picker-modal > .modal-dialog > .modal-content > .modal-body {
        flex: 0;
    }
    .product-picker-modal > .modal-dialog {
        margin: 0;
    }
    .mb-3 > .floatLeft > .col-lg-1 {
        float:left;
        width:20%;
    }
    .mb-3 > .floatLeft > .col-lg-11 {
        float:left;
        width:70%;
    }
}