.userAccountDiv{
    background:rgb(23,123,123);
    float: right;
    width: 100%;
    height: 100%;


}

.useraccountHeading{
    text-align: center;
    font-family: "Times New Roman", Times, serif;
}

.userAccountForm{
    padding-left: 200px;
    align-content: center;
  
    padding-right: 200px;

}