.login-form{
    padding: 10px 0px 10px 10px;
    margin: auto;
}
.login-form > .form-group > .form-control:focus {
    border-color: #81868a;
    box-shadow: 0 0 0 0.3rem rgba(119, 124, 128, 0.596);
}
.login-form > .form-group > .invalid-feedback {
    color: lightcoral;
}
.login-form > .form-group > .text-muted {
    color: #888 !important;
}
.login-modal {
    background: rgb(42, 42, 42);
    height: auto;
    max-width: 550px;
    max-height: 50em !important;
    min-height: 100px !important;
    position: relative;
    top: 50%;
    transform: translateY(-55%) !important;
}
.login-modal::before {
    height: 100%;
}
.login-modal > .modal-content{
    padding: 1rem;
    background-color: transparent !important;
}
.login-modal > .modal-content > .modal-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0;
}
.login-modal > .modal-content > .modal-header > h2{
    display: inline;
    color: white;
    text-align: center;
    justify-content: center;
}
.login-modal > .modal-content > .modal-header > .material-icons {
    font-size: 42px !important;
    cursor: pointer;
    color: white;
}
.login-modal-backdrop {
    opacity: .75;
    background-color:black; 
}
.login-modal > .modal-content > .modal-footer {
    display: block !important;
    padding : 0;
    border-top: 0;
}
.login-modal > .modal-content > .custom-redirect-header,
.login-modal > .modal-content > .custom-redirect-body {
    display:flex;
    justify-content: center;
}
.login-modal > .modal-content > .modal-body > .login-form > .modal-form-button {
    width: 100%;
    display: block;
    height: 3em;
    justify-content: center;
    margin-top: 30px;
    margin-bottom:0;
}
.login-modal > .modal-content > .modal-header > .material-icons:hover {
    color: #888;
}
.login-modal > .modal-content > .modal-body > .is-logged-in-text {
    text-align: center;
    display: inline;
    margin-right: 15px;
    color: white;
}
.login-modal-bottom-links {
    padding: 0 1rem 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.login-modal-bottom-links > p {
    color: #ffffffcc;
}
.login-modal-bottom-links a {
    font-weight: 500;
    color: #ffffffcc;
}
.login-modal-bottom-links a:hover {
    text-decoration: underline;
}
.modal-form-spinner {
    margin-left: .5em;
}

@media only screen and (max-width: 500px) {
    .login-modal{
        width: 100%;
        height: 100%;
        margin: 0 !important;
        position: fixed;
        top: 0;
        bottom: 0;
        transform: none !important;
        overflow: hidden;
    }
    .login-modal > .modal-content {
        border: 0;
        border-radius: 0;
        height: 100%;
    }
    .login-modal > .modal-content > .modal-body {
        flex: 0;
    }
    .login-form{
        padding: 0px;
        background: none;
    }
    .login-modal-bottom-links {
        flex-direction: column;
    }
    .login-modal-bottom-links > a {
        text-align: center;
        padding-bottom: 0.4rem;
    }
    .login-modal-bottom-links > p {
        text-align: center;
    }

}