.landing-container >.row{
    display: flex;
    justify-content: center;
    margin: 20px;
}
.landing-background-carousel{
    z-index: -2;
    position:absolute;
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    display:flex;
    justify-content: center;
}